<section class="setdataPage">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="form">
      <p class="text">For research purposes, please answer the question.</p>
      <mat-form-field>
        <mat-label>Are you a programmer or a student?</mat-label>
        <mat-select formControlName="role">
          <mat-option value="programmer">Programmer</mat-option>
          <mat-option value="student">Student</mat-option>
        </mat-select>
        <mat-error *ngIf="role?.hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-flat-button color="primary" class="sendBtn">
        Send
      </button>
    </form>
  </div>
</section>
