.dataConsent {
  display: flex;
  width: 95%;
  margin: 0 auto;
  &__title {
    margin-bottom: 2rem;
  }
  &__container {
    max-width: 600px;
    margin: 10rem auto;
  }
  &__list {
    padding-left: 20px;
  }
  &__list-item-title {
    font-weight: 500;
  }
  &__description {
    font-size: 1.6rem;
  }
  .buttons-box {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
  }
  .text {
    margin-top: 4rem;
    font-size: 1.6rem;
  }
  .ul-list {
    padding: 0 0 0 2rem;
    list-style-type: disc;
  }
}
