<section class="dataConsent">
  <div class="dataConsent__container">
    <h2 class="dataConsent__title">Consent to processing of personal data</h2>
    <ol class="dataConsent__list">
      <p class="dataConsent__description">
        I hereby consent to the processing of my personal data by a group of
        students from the "Politechnika Rzeszowska", for the purpose of
        participating in a study on the dynamics of typing.
      </p>
      <li class="dataConsent__list-item">
        <h3 class="dataConsent__list-item-title">Scope of data:</h3>
        <ul class="ul-list">
          <li>
            <p class="dataConsent__description">E-mail address,</p>
          </li>
          <li>
            <p class="dataConsent__description">
              Data on typing dynamics, such as typing speed, error rate,
              rhythmic patterns and other metrics related to keyboard
              interaction.
            </p>
          </li>
        </ul>
      </li>
      <li class="dataConsent__list-item">
        <h3 class="dataConsent__list-item-title">Purpose of processing:</h3>
        <p class="dataConsent__description">
          Data is collected for analysis and learning of a neural network
          designed to study the impact of various factors on typing style
        </p>
      </li>
      <li class="dataConsent__list-item">
        <h3 class="dataConsent__list-item-title">Voluntariness:</h3>
        <p class="dataConsent__description">
          Providing data is voluntary, but necessary to participate in the
          study.
        </p>
      </li>
      <li class="dataConsent__list-item">
        <h3 class="dataConsent__list-item-title">Participant rights:</h3>
        <p class="dataConsent__description">
          I have the right to access, rectify, erase or restrict processing of
          my data, as well as the right to object to processing and the right to
          data portability. In addition, I have the right to withdraw my consent
          at any time, which will not affect the lawfulness of the processing
          carried out on the basis of consent before its withdrawal.
        </p>
      </li>
      <li class="dataConsent__list-item">
        <h3 class="dataConsent__list-item-title">Data retention period:</h3>
        <p class="dataConsent__description">
          Data will be kept until the end of the study, after which it will be
          deleted or anonymized.
        </p>
      </li>
      <li class="dataConsent__list-item">
        <h3 class="dataConsent__list-item-title">Recipients of data:</h3>
        <p class="dataConsent__description">
          Data may be shared only with members of the research group for
          purposes related to the project.
        </p>
      </li>
    </ol>
    <p class="text">
      By accepting below, I confirm that I have read the above information and
      consent to the processing of my personal data as described.
    </p>
    <div class="buttons-box">
      <button
        mat-flat-button
        color="primary"
        (click)="agree()"
        class="dataConsent__btn"
      >
        Agree
      </button>
      <button
        (click)="disagree()"
        mat-flat-button
        color="warn"
        class="dataConsent__btn"
      >
        Disagree
      </button>
    </div>
  </div>
</section>
